<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="Gestão de tarefas do IPG">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> --!>

    <!--Custom fonts-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--Custom styles-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body id="page-top" style="margin-bottom: 0px;">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a asp-controller="Home" asp-action="Index" class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <img src="~/image/IPGlogo.png" alt="IPG logo"/>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="text-align:center;">

                <a asp-controller="Home" asp-action="Index" class="btn btn-light btn-lg btn-block menu">
                    <i class="fa fa-home"></i>
                    Home
                </a>
                <a asp-controller="Servicos" asp-action="Index" class="btn btn-light btn-lg btn-block menu">
                    <i class="fa fa-mobile"></i>
                    Serviços
                </a>



                @if (!User.Identity.IsAuthenticated)
                {

                }
                else
                {
                    <a asp-controller="Escolas" asp-action="Index" class="btn btn-light btn-lg btn-block menu">
                        <i class="fa fa-school"></i>
                        Escolas
                    </a>
                    <a asp-controller="Cargos" asp-action="Index" class="btn btn-light btn-lg btn-block menu">
                        <i class="fa fa-mobile"></i>
                        Cargos
                    </a>
                    <a asp-controller="Funcionarios" asp-action="Index" class="btn btn-light btn-lg btn-block menu">
                        <i class="fa fa-mobile"></i>
                        Funcionários
                    </a>
                }
                <a asp-controller="Home" asp-action="Contactos" class="btn btn-light btn-lg btn-block menu">
                    <i class="fa fa-book"></i>
                    Contactos
                </a>

                <!--
        <a asp-controller="Home" asp-action="About" class="btn btn-light btn-lg btn-block menu">
            <i class="fa fa-list-alt"></i>
            Sobre
        </a>
    -->
            </li>

            

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-area="Identity" asp-page="/account/login" class="btn btn-light btn-lg" style="margin-left:auto">
                            <i class="fa fa-home"></i>
                            Login
                        </a>
                    }
                    else if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <a asp-area="Identity" asp-page="/account/register" class="btn btn-light btn-lg" style="margin-left:auto">
                            <i class="fa fa-home"></i>
                            Criar Conta
                        </a>
                        <a asp-area="Identity" asp-page="/account/logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-light btn-lg" style="margin-left:auto">
                            <i class="fa fa-home"></i>
                            Logout
                        </a>
                    }else{
                        <a asp-area="Identity" asp-page="/account/logout" class="btn btn-light btn-lg" style="margin-left:auto">
                            <i class="fa fa-home"></i>
                            Logout
                        </a>
                    }
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
            <!-- End of main content

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Gestão Tarefas IPG</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!--End of page wrapper-->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>

</body>
</html>

@RenderSection("Scripts", required: false)