
@{
    ViewData["Title"] = "Contactos";
    Layout = "~/Views/Shared/LayoutBeforeLogin.cshtml";
}

    <div class="text-center">
        <h1 class="display-4">Contactos</h1>
        <p>Telemovel:</p>
        <p>9********</p>
        <p>Telefone:</p>
        <p>232 *** ***</p>
        <p>Email:</p>
        <p>***************gmail.com</p>
        <!--<p>Para aprender mais sobre o gestor de tarefas do ipg clique em Sobre no menu.</p>-->
        <!--
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->
    </div>

